## Reading the data file

In [1]:
df=pd.read_csv('auction.csv')
df

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price,item,auction_type
0,1638893549,175.00,2.230949,schadenfreud,0.0,99.00,177.50,Cartier wristwatch,3 day auction
1,1638893549,100.00,2.600116,chuik,0.0,99.00,177.50,Cartier wristwatch,3 day auction
2,1638893549,120.00,2.600810,kiwisstuff,2.0,99.00,177.50,Cartier wristwatch,3 day auction
3,1638893549,150.00,2.601076,kiwisstuff,2.0,99.00,177.50,Cartier wristwatch,3 day auction
4,1638893549,177.50,2.909826,eli.flint@flightsafety.co,4.0,99.00,177.50,Cartier wristwatch,3 day auction
...,...,...,...,...,...,...,...,...,...
10676,8214889177,61.00,6.359155,714ark,15.0,0.01,90.01,Xbox game console,7 day auction
10677,8214889177,76.00,6.359294,rjdorman,1.0,0.01,90.01,Xbox game console,7 day auction
10678,8214889177,90.00,6.428738,baylorjeep,3.0,0.01,90.01,Xbox game console,7 day auction
10679,8214889177,88.00,6.760081,jasonjasonparis,18.0,0.01,90.01,Xbox game console,7 day auction
10680,8214889177,90.01,6.988831,gpgtpse,268.0,0.01,90.01,Xbox game console,7 day auction

## Finding if there are any null values in the data set

In [2]:
df.isnull().sum()

auctionid        0
bid              0
bidtime          0
bidder          16
bidderrate      11
openbid          0
price            0
item             0
auction_type     0
dtype: int64

#     
#
#
#
#

# Finding the maximum and minimum bid
#### Max product details analysis

In [3]:
max_bid=df['bid'].idxmax()
max_bid

760

In [4]:
product_max = df['item'][max_bid]
bid_price_max=df['bid'][max_bid]

### Max Product Details are:

In [5]:
print(f'Most expensive product for auction is {product_max} for bid price {bid_price_max}')

Most expensive product for auction is Cartier wristwatch for bid price 5400.0

#### Min product details analysis

In [6]:
min_bid=df['bid'].idxmin()
min_bid

4070

In [7]:
product_min = df['item'][min_bid]
bid_price_min=df['bid'][min_bid]

### Min Product Details are:

In [8]:
print(f'Cheapest product for auction is {product_min} for bid price {bid_price_min}')

Cheapest product for auction is Palm Pilot M515 PDA for bid price 0.01

#     
#
#
#
#

# Profitable Auctions

In [20]:
list = []
for i in range(len(df)):
    if df['bid'][i]<df['price'][i]:
        list.append([df['auctionid'][i],df['bid'][i],df['bidtime'][i],df['bidder'][i],df['bidderrate'][i],df['openbid'][i],df['price'][i],df['item'][i],df['auction_type'][i]])

## Creating new Data Table for profitable items

In [22]:
profitable_df=pd.DataFrame(list)
profitable_df.set_axis(['auctionid','bid','bidtime','bidder','bidderrate','openbid','price','item','auction_type'], axis='columns', inplace=True)
profitable_df

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price,item,auction_type
0,1638893549,175.0,2.230949,schadenfreud,0.0,99.00,177.50,Cartier wristwatch,3 day auction
1,1638893549,100.0,2.600116,chuik,0.0,99.00,177.50,Cartier wristwatch,3 day auction
2,1638893549,120.0,2.600810,kiwisstuff,2.0,99.00,177.50,Cartier wristwatch,3 day auction
3,1638893549,150.0,2.601076,kiwisstuff,2.0,99.00,177.50,Cartier wristwatch,3 day auction
4,1639453840,1.0,0.355856,bfalconb,2.0,1.00,355.00,Cartier wristwatch,3 day auction
...,...,...,...,...,...,...,...,...,...
9962,8214889177,50.0,5.013889,bax3family,3.0,0.01,90.01,Xbox game console,7 day auction
9963,8214889177,61.0,6.359155,714ark,15.0,0.01,90.01,Xbox game console,7 day auction
9964,8214889177,76.0,6.359294,rjdorman,1.0,0.01,90.01,Xbox game console,7 day auction
9965,8214889177,90.0,6.428738,baylorjeep,3.0,0.01,90.01,Xbox game console,7 day auction
9966,8214889177,88.0,6.760081,jasonjasonparis,18.0,0.01,90.01,Xbox game console,7 day auction

## Exporting all data to a new csv file

In [23]:
profitable_df.to_csv('Profitable Data.csv')